.quran-type-contacts {
    width: fit-content;
    margin: 50px auto;
}

.quran-type-contacts h5 {
    font-size: 25px;
    text-decoration: underline;
}

.quran-type-contacts span {
    font-size: 17px;
    font-weight: bold;
}

.quran-type-contacts a {
    color: var(--alt-color);
    font-weight: bold;
    margin-left: 20px;
    transition: var(--main-transition);
}

.quran-type-contacts a:hover {
    text-decoration: underline;
}