
.contacts {
    display: flex;
    align-items: center;
}
.cont-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.cont-us a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition: var(--main-transition);
    background: var(--alt-color);
}
.cont-us svg {
    font-size: 25px;
    color: #fff;
    transition: var(--main-transition);
}
.cont-us:hover svg {
    transform: rotate(360deg);
}

@media screen and (max-width: 992px) {
    .contacts {
        display: none;
    }
}