
.learn-in-ijazah {
    margin:  20px 120px;
}
.learn-in-ijazah h3 {
    font-size: 20px;
}
.learn-in-ijazah ul {
    margin-left: 20px;
}
.learn-in-ijazah li {
    font-size: 17px;
    margin-bottom: 10px;
}