.lang-change {
    position: relative;
    margin: 0 10px;
    user-select: none;
}
.default-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.lang-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-lang img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.choosen-lang {
    position: absolute;
    top: 100%;
    left: -50%;
    width: 150px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 4px;
    display: none;
}
.lang-change:hover .choosen-lang {
    display: block;
}
.arabic-lang,
.english-lang {
    padding: 10px;
    cursor: pointer;
    transition: var(--main-transition);
}
.arabic-lang:hover,
.english-lang:hover {
    background: var(--alt-color);
}
.arabic-lang img,
.english-lang img {
    width: 20px;
    margin: 0 10px;
}
.arabic-lang span,
.english-lang span {
    font-size: 14px;
    font-weight: bold;
    transition: var(--main-transition);
}
.arabic-lang:hover span,
.english-lang:hover span {
    color: #fff;
}